{% extends 'Main.html'%}
{% load auth_extras %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% block content %}



{% if request.user|has_group:"Administrator" %}

    <div>
        <div class="info">
            <h3 class="dash">Admin Panel</h3>
            Hi {{ user.username }}!
            <table class ="formlist">
                <tr>
                    <li> <a href="{% url 'signup' %}" >Create New User</a></li>
                    <li> <a href="{% url 'signupStaffUser' %}" >Create New Administrator User</a></li>
                    <li> <a href="http://127.0.0.1:8000/admin/auth/user/">Manage Users</a></li>
                    <li> <a href="http://127.0.0.1:8000/admin/auth/user/">Change Password for a User (Click on a user and hover over the password and click the link)</a></li> 
                    <li> <a href="http://127.0.0.1:8000/admin/auth/user/">Delete Users</a></li>
                    <li> <a href="{% url 'ExportDeliveryReports' %}" >Download Delivery Reports</a></li>
                </tr>

            </table>



            

{% else %}
<p>You may not access this page without loging in.</p>

{% endif %}
{% endblock content %}


